.todo {
	width: 60%;
	text-align: center;
	margin: 0 auto;
	background-color: orange;
}

.todo__header {
	color: rgb(132, 216, 251);
	font-size: 3rem;
	margin-bottom: 40px;
}

.todo__form {
	margin-bottom: 40px;
}

.todo__input {
	outline: none;
	border-radius: 5px;

	border: none;
	background-color: rgb(216, 236, 244);
	padding: 10px 20px;
	width: 20rem;
	font-size: inherit;
}

.todo__submit {
	background-color: rgb(124, 127, 223);
}

.todo__submit:hover {
	background-color: rgb(150, 153, 249);
}

@media (width <= 500px) {
	.todo {
		width: 100%;
		margin: 0;
	}
	.todo__submit {
		display: none;
	}
}
