.item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	/* background-color: yellow; */
	/* width: 80%; */
	margin-bottom: 10px;
	width: 100%;
	/* outline: hidden; */
}

.item__input {
	/* display: block; */
	width: 19rem;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: rgb(76, 121, 173);
	outline: none;
	border: none;
	font-size: inherit;
	color: white !important;
}

::placeholder {
	color: white;
}

.item__name {
	width: 19rem;
	text-align: left;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: rgb(244, 181, 244);
}

.done {
	text-decoration: line-through !important;
	background-color: rgb(161, 160, 160) !important;
	/* to se potem zaimplementuje lepiej */
}

.item__paragraph {
	color: white;
}

.item__toggle {
	background-color: rgb(124, 223, 134);
}

.item__toggle:hover {
	background-color: rgb(153, 222, 160);
}

.item__delete {
	background-color: rgb(223, 124, 124);
}

.item__delete:hover {
	background-color: rgb(216, 160, 160);
}

.item__edit {
	background-color: rgb(223, 220, 124);
}

.item__edit:hover {
	background-color: rgb(225, 223, 154);
}
